.navbar {
  background-color: #333;
}


.navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link {
  font-size: 18px;
}
.navbar-nav .nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

.brandHeader{
    width: 120px;
}

.divBrandHeader{
    display: flex;
    align-items: center;
}

//font-family: 'Inter', sans-serif;
//font-family: 'Roboto', sans-serif;

.carouselLanding{
  border:1px solid black;
  height:100px;
  width:100px;
  margin-top:50px !important;
}
.carousel{
  margin-top:47px !important;
}
.sectionOradores{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.divCardsOradores{
  max-width:375px;
  display:flex;
  flex-direction:column;
  gap:10px;gi
}
.divImgCardOradores{
  height:375px;
  width:375px;
}
.divImgCardOradores img{
  height:375px;
  width:auto;
  
}