.navbar {
  background-color: #333;
}


.navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link {
  font-size: 18px;
}
.navbar-nav .nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

.brandHeader{
    width: 120px;
}

.divBrandHeader{
    display: flex;
    align-items: center;
}

//font-family: 'Inter', sans-serif;
//font-family: 'Roboto', sans-serif;

.carouselLanding{
  border:1px solid black;
  height:100px;
  width:100px;
}

